<!DOCTYPE html>
<html>
<head>
    <title>Meeting Room Reservation</title>
</head>
<body>
<h1>Make a Meeting Room Reservation</h1>
<form method="post" action="/MakeMeetingRoomReservation">

    <label for="meetingRoomReservationDate">Date:</label>
    <input type="date" id="meetingRoomReservationDate" name="meetingRoomReservationDate" required><br><br>

    <label for="meetingRoomReservationUsername">Username:</label>
    <input type="text" id="meetingRoomReservationUsername" name="meetingRoomReservationUsername" required><br><br>

    <label for="meetingRoomReservationRoomNumber">Room Number:</label>
    <input type="number" id="meetingRoomReservationRoomNumber" name="meetingRoomReservationRoomNumber" required><br><br>

    <label for="meetingRoomReservationStartTime">Start time:</label>
    <input type="text" id="meetingRoomReservationStartTime" name="meetingRoomReservationStartTime" required><br><br>

    <label for="meetingRoomReservationEndTime">Room Number:</label>
    <input type="text" id="meetingRoomReservationEndTime" name="meetingRoomReservationEndTime" required><br><br>

    <input type="submit" value="Reserve">
</form>
</body>
</html>
