<!DOCTYPE html>
<html>
<head>
  <title>Parking Reservation</title>
</head>
<body>
<h1>Make a Parking Reservation</h1>
<form method="post" action="/MakeParkingReservation">

  <label for="parkingReservationDate">Date</label>
  <input type="date" id="parkingReservationDate" name="parkingReservationDate" required><br><br>

  <label for="parkingReservationUsername">Username</label>
  <input type="text" id="parkingReservationUsername" name="parkingReservationUsername" required><br><br>

  <label for="parkingReservationParkingSpot">Parking Spot</label>
  <input type="text" id="parkingReservationParkingSpot" name="parkingReservationParkingSpot" required><br><br>

  <input type="submit" value="Reserve">
</form>
</body>
</html>